.node > .childrenWrapper {
    height:0px;
    transition:height .5s;
   
    overflow: hidden;
    padding-left: 10px;
}
.node > .childrenWrapper > .children {
    transform: translateY(-100%);
    transition: transform .5s ease;
}
.node.expanded > .childrenWrapper {
    height:auto;
}
.node.expanded > .childrenWrapper > .children {
    transform: translateY(0);
}
.wrapper{
    border: 2px solid rgb(205, 205, 205);
    border-radius: 8px;
  }
  
  .editor{
  
    background-color: rgb(201, 201, 201);
    border-radius: 8px;
  }
  
  .toolbar{
     border-radius: 10px;
  }